/**********
LAYOUT
**********/

.main-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 3px;
	padding: 1em;
}

.input-fields {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 86%;
	text-align: center;
	margin: 0 auto;
}


/**********
INPUT FIELDS
**********/

label {
	display: inline-block;
	width: 6em;
	margin-right: .5em;
	padding-top: 0.1em;
	text-align: center;
}

input {
	height: 4rem;
	width: 8rem;
	padding-left: 0.3em;
	margin: 0.4em;
	background-color: #e1f9ff;
	display: block;
	border-color: #c7b19a;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
}

img {
	opacity: 0.5;
}


/**********
FOOTER
**********/

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer,
.push {
	height: 1em;
}


/**********
TYPOGRAPHY
**********/

h1 {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	/*	color: #722919;*/
	/*	color: #804304;*/
	/*	color: #733c03;*/
	color: #c7b19a;
	letter-spacing: 0.09em;
}

input {
	font-size: 2em;
	font-family: 'Average Sans', sans-serif;
}

label {
	font-family: 'Average Sans', sans-serif;
	font-size: 1.2em;
	/*	color: #733c03;*/
	color: #c7b19a;
}

.footer p {
	font-size: 0.9em;
	font-family: 'Average Sans', sans-serif;
	color: #759199;
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: #273033;
}

.footer a:hover {
	color: #AF2E53;
}


/**********
IMAGES
**********/

body {
	background-image: url("../images/weather-pattern.png");
}