/**********
LAYOUT
**********/

.main-container {
/*	background-color: #f2f2f2;*/
	max-width: 800px;
	margin: 0 auto;
}

.input-fields {
/*	position: relative;*/
/*	margin-left: 30%;*/
}

/*
.main-container {
	display: table;
}
*/

.input-fields {
	display:flex;
	justify-content:center;
	align-items:center;
}

/*
<div style="display:table;">
  <div style="display:table-cell;vertical-align:middle;">
    <div style="margin-left:auto;margin-right:auto;"></div>
  </div>
</div>
*/


/**********
FONTS
**********/

h1 {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}


p {
	font-family: 'Average Sans', sans-serif;
}

input {
	height: 5rem;
	width: 10rem;
	font-size: 2em;
	font-family: 'Average Sans', sans-serif;
	padding-left: 0.3em;
}

/**********
IMAGES
**********/

body {
	background-image: url("../images/weather/weather.png");
	
}
